<!DOCTYPE html>
<html>
<head>
  <title>RailsFileEditor</title>
  <%= stylesheet_link_tag    'cms/file_editor' %>
  <%= javascript_include_tag 'cms/file_editor', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>